body {
	background-color: #222;
	font-family: 'Times New Roman', Times, serif;
	align-items: center;
	align-content: center;
}

header {
	background-color: #333;
	color: #fff;
	padding: 10px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

nav ul {
	display: flex;
	list-style: none;
	margin: auto;
	
	
}

nav ul li {
	margin: 0 10px;
}

nav ul li a {
	color: cyan;
	text-decoration: none;
	list-style: none;
	margin-left: 50px;
	font-size: 30px;
}

nav ul li a:hover {
	color: red;
}

main {
	max-width: 500px;
	position: relative;
	margin: auto;
	padding: 20px;
	background-color: #111;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	align-items: center;
}

h1 {
	text-align: center;
	margin-bottom: 30px;
}

form {
	display: flex;
	flex-direction: column;
	color: white;
}

label {
	margin-bottom: 10px;
	font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	padding: 10px;
	margin-bottom: 20px;
	border: 2px solid black;
	border-radius: 5px;
}

input[type="submit"] {
	background-color: cyan;
	color: black;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: .2s;
}

input[type="submit"]:hover {
	background-color: red;
	transition: .2s;
}
